

<style>@import url('https://fonts.googleapis.com/css?family=VG5000-Regular_web:400&display=swap');.gps-515946114013201528 .gp-relative{position:relative}.gps-515946114013201528 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-515946114013201528 .gp-mb-0{margin-bottom:0}.gps-515946114013201528 .gp-flex{display:flex}.gps-515946114013201528 .gp-grid{display:grid}.gps-515946114013201528 .\!gp-hidden{display:none!important}.gps-515946114013201528 .gp-hidden{display:none}.gps-515946114013201528 .gp-w-full{width:100%}.gps-515946114013201528 .\!gp-max-w-none{max-width:none!important}.gps-515946114013201528 .gp-max-w-full{max-width:100%}.gps-515946114013201528 .gp-flex-col{flex-direction:column}.gps-515946114013201528 .gp-gap-y-0{row-gap:0}.gps-515946114013201528 .gp-overflow-hidden{overflow:hidden}.gps-515946114013201528 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-515946114013201528 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-515946114013201528 .gp-duration-200{transition-duration:.2s}.gps-515946114013201528 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1023px){.gps-515946114013201528 .tablet\:\!gp-hidden{display:none!important}.gps-515946114013201528 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-515946114013201528 .mobile\:\!gp-hidden{display:none!important}.gps-515946114013201528 .mobile\:gp-hidden{display:none}}.gps-515946114013201528 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-515946114013201528 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1023px){.gps-515946114013201528 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-515946114013201528 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-515946114013201528 .\[\&_p\]\:gp-inline p{display:inline}.gps-515946114013201528 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-515946114013201528 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

      
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gWBV1qtjP_"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pt:var(--g-s-4xl);--pl:var(--g-s-l);--pb:var(--g-s-4xl);--pr:var(--g-s-l);--pt-mobile:var(--g-s-3xl);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-3xl);--pr-mobile:var(--g-s-l);--cg:0px;--cg-tablet:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url(), linear-gradient(139deg, #FFEAE0 0%, #FFFFFF 100%);--bgi-mobile:url(), linear-gradient(139deg, #FFEAE0 0%, #FFFFFF 100%);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll"
        class="gWBV1qtjP_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="gp62S2lKlG gp-relative gp-flex gp-flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="ga2BmwBkQE"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ga2BmwBkQE gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="g-vR2QWMZa gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gNjecD-Z9j"
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--mb-mobile:var(--g-s-xl);--pb-mobile:auto;--aspect:16/9"
    >
      
    
    <video
      id="gp-video-gNjecD-Z9j"
      class="lazy gp-w-full"
      style="--aspect:16/9"
      controls
      
      
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/4e0e8445018c49e28c7852b4df45d9fe.mp4"
      poster=""
      playsinline
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/4e0e8445018c49e28c7852b4df45d9fe.mp4" type="video/mp4"></source>
    </video>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      <style
        id="custom-css-gNjecD-Z9j"
      >.gNjecD-Z9j[data-component-label="Video"] {

}</style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gPLS8i0VKh gp-relative gp-flex gp-flex-col"
    >
      
    <div
      parentTag="Col"
        class="g6cvqzMf3M "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-small);--pl:var(--g-s-2xl);--pl-mobile:var(--g-s-l);--pr-mobile:auto"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:40px;--size-tablet:40px;--size-mobile:35px;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6cvqzMf3M_text }}</h2>
      </div>
    </div>
    <div
      parentTag="Col"
        class="g9zgOybr-h "
        style="--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--radius:var(--g-radius-none);--pl:var(--g-s-2xl);--pr:var(--g-s-l);--mb-mobile:auto;--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
         
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-VG5000-Regular_web, 'VG5000-Regular_web'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:18px;--c:#121212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg9zgOybr-h_text }}</div>
      </div>
    </div>
      <style
        id="custom-css-g9zgOybr-h"
      >.g9zgOybr-h {

}
.g9zgOybr-h p {

}</style>
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-515946114013201528 gps gpsi",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/divoominternational/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=515642841339266295&sectionId=515946114013201528)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"off_lazy_script"},{"type":"html","id":"gg6cvqzMf3M_text","label":"gg6cvqzMf3M_text","default":"What is Times Gate?"},{"type":"html","id":"gg9zgOybr-h_text","label":"gg9zgOybr-h_text","default":"<p>Your Pixel Art Informative Display</p><p><span style=\"color:#87CEEB;font-size:18px;\"><i><strong>Watch the video to see how unique and useful the Time gate is!</strong></i></span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
