<style>
    #shopify-section-{{ section.id }} .customer-reset-section {
          background-image: url({{ section.settings.bg-image | img_url:'master' }});
                background-position: bottom;
    background-size: cover;
    }
</style>
<div {% render 'surface', class: 'customer-section-wrapper customer-reset-section', background_gradient: section.settings.background_gradient, background: section.settings.background, text_color: section.settings.text_color, background_fallback: 'bg-secondary' %}>

<div class="sm:container">
  {% render 'breadcrumbs' %}
  <h2 class="h2 customer-outer-heading">
    {%- assign content = 'New Password' -%}
    {%- render 'styled-text', content: content, gradient: section.settings.heading_gradient -%}
  </h2>
  <div class="customer-form">
    <div class="customer-form__box image-with-shadow">
      <div class="customer-form__box-inner text-center">
        <div class="v-stack gap-12">
          <h1 class="h2">
            {%- assign content = 'New Password' -%}
            {%- render 'styled-text', content: content, gradient: section.settings.heading_gradient -%}
          </h1>

          {%- form 'reset_customer_password', class: 'form' -%}
            <div class="fieldset">
              {%- if form.errors -%}
                {%- assign form_errors = form.errors | default_errors -%}
                {%- render 'banner', status: 'error', content: form_errors -%}
              {%- endif -%}

              {%- assign password_label = 'Enter Password' -%}
              {%- render 'input', type: 'password', name: 'customer[password]', placeholder: password_label, autocomplete: 'new-password', required: true -%}

              {%- assign password_confirmation_label = 'Confirm Password' -%}
              {%- render 'input', type: 'password', name: 'customer[password_confirmation]', placeholder: password_confirmation_label, autocomplete: 'new-password', required: true -%}
            </div>

            {%- assign submit_label = 'Confirm' -%}
            {%- render 'button', content: submit_label, type: 'submit', size: 'xl', stretch: true, secondary: true -%}
          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% schema %}
{
  "name": "Customer reset password",
  "class": "shopify-section--main-customers-reset-password",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg-image",
      "label": "Background Image"
    }
  ]
}
{% endschema %}